{% extends 'layouts/app.twig' %}

{% block content %}

	<div class="container">

		<h1>App</h1>


		{% if results is not empty %}
		<p>About {{ results|length }} results</p>
		<ul class="list-group bg-white">

			{% for res in results %}
		  	<li class="list-group-item">
			  	<div class="item my-2 d-flex justify-content-between">
	          
				  <div class="item_image d-flex align-items-center">
				  {% if res.avatar %}
					<img src="{{ res.avatar }}" alt="" id="ember462" class="">
				  {% endif %}
				  </div>

				  <div class="item_content">
				 
				  <div class="">
				  	{{ res.name }}
				  </div>

				    <div>
				      <div class="">
				        {{ res.title }} at {{ res.company }}
				      </div>
				    </div>

				  </div>

				</div>
		  	</li>
		  	{%endfor%}

		</ul>

		{% if pagination.needed %}
		    <div class="btn-toolbar my-3" role="toolbar" aria-label="Toolbar with button groups">
		  	<div class="btn-group me-2" role="group" aria-label="First group">
		  		{% if pagination.page != 1 %}
		  			<a class="btn btn-outline-secondary" href="/?page=1"><<</a>
		  		{% endif %}
		    	{% for x in range(1, pagination.lastpage) %}
		    		{% if x > (pagination.page - 3) and x < (pagination.page + 3) %}
		    			<a class="btn btn-outline-secondary" {% if x == pagination.page %} disabled{% endif %} href="/?page={{ x }}">{{ x }}</a>
		    		{% endif %}
		        {% endfor %}

		        {% if pagination.page != pagination.lastpage %}
		  			<a class="btn btn-outline-secondary" href="/?page={{ pagination.lastpage }}">>></a>
		  		{% endif %}
			     </div>
			</div>
		{% endif %}


		{% else %}
			<p>No results</p>
		{% endif %}
	</div>

{% endblock %}