<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title></title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="/app.css">

</head>

<body class="bg-gray">

	{% block content %}

    {% endblock %}
    
  <script src="/app.js"></script>
</body>
</html>